.signUpMain
{
    margin-left:9rem;
   margin-bottom:2rem;
}


.mainComponent
{
   
    border:2px solid ;
    padding: 20px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-color:var(--background-color);
    height:560px; width:900px;
    margin-left:9rem;
    margin-top:1rem;
    text-align: center;
   
}

.cancelsButton
{
    margin-top:1rem;
    margin-left:53rem;
}
.signUpComponents
{
    display : flex;
}

.signUpForm
{
    margin-left:4rem;
    
}

.createAccountInfo
{
   
    font-size: 18px;
    color:grey;
    font-weight:700;
    font-style:inherit;
    margin-left:-6rem;
}
.welcome
{
    font-size: 40px;
    font-weight:1000;
    font-style:inherit;
    font-family: Arial, Helvetica, sans-serif;
    color:var(--text-color2);
    margin-top:4rem;
    margin-left:-4rem;

}
.enterFirstName
{
    margin-top:1rem;
    width:250px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--background-color);
    color:black;
    font-weight:normal;
    font-size:16px;
}
.enterLastName{
    margin-top:0.5rem;
    width:250px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--background-color);
    color:black;
    font-weight:normal;
    font-size:16px;
}
.enterEmail
{
    margin-top:0.5rem;
    width:250px;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--background-color);
    border-color: linear-gradient(to right, #ff7e5f, #feb47b);
    transition: border-color 0.3s ease;
    color:black;
}
.enterEmail:focus
{
    border-color:var(--background-color2);
    
}
/* .customPhoneInput
{
    margin-top:0.5rem;
    width:220px;
    
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--background-color);
   
} */
.react-tel-input .flag-dropdown {
    margin-left: 18px; 
  }
.enterPassword {
    color:black;
    width:250px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--background-color);
}
.enterConfirmPassword
{   color:black;
    width:250px;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--background-color);
}

/* .nextButton
{
    width:250px;
    font-size:1rem;
    font-weight: 900;
    font-style:normal;
    background-color: var(--main-color);
    margin-top:0.5rem;
} */

.alreadyAccount
{
    font-size: 18px;
    font-weight:700;
    font-style:inherit;
    color:var(--text-color2);
    margin-left:-4rem;
    margin-top:1.5rem;
}

.navLogin
{

    font-size: 18px;
    font-weight:700;
    font-style:inherit;
    color:var(--main-color);
    cursor: pointer;
    margin-top:-1.7rem;
    margin-left:18rem;
    transition: color 0.3s ease;
}
.navLogin:hover
{
    color:#DE3B40;
    font-weight: bold;
}
.showPassword
{
    
    color:grey;
    font-size:10px;
    cursor: pointer;
    background-color: transparent;
    border-color:transparent;
    width:25px;
   
}
.passwordVisible
{
    margin-left:12rem;
    margin-bottom:0.5rem;
}
.show{
    margin-left:13rem;
    cursor: pointer;
}
.lefts
{
    background-color: transparent;
    border-color:transparent;
    width:25px;
}

.nextPages
{
    display: flex;
    margin-top:0rem;
    
}
.nextPage
{
    display: flex;
    margin-top:1rem;
    
}
.showPassword:hover
{
    border-color: unset;
    border: white;
}
.right2:hover
{
    border-color: unset;
}
.right:hover
{
    border-color: unset;
    
}
.left:hover
{
    border-color: unset;
}

.lefts:hover
{
    border-color: unset;
}
.right
{
    background-color: transparent;
    border-color:transparent;
    margin-left:10rem;
    width:25px;
}
.right2
{
    background-color: transparent;
    border-color:transparent;
    margin-left:14rem;
    width:25px;
   
}
.left
{
    background-color: transparent;
    border-color:transparent;
    margin-left:0.3rem;
    width:25px;
}

.quotes
{
    font-size: 15px;
    font-weight:700;
    font-style:Arial;
    color:var(--text-color2);
}


.lines
{
    width: 270px; 
    height: 1px; 
  
    background-color: grey;
}

.signUpLogo
{
    margin-left:7rem;
    text-align: center;
    margin-top:3rem;}

.handLogo
{
    width:250px;
}
.quote
{
    margin-top:2rem;
    font-size: 18px;
    font-weight:700;
    font-style:Arial;
    color:var(--text-color2);
}