.filterWrap
{
   width:1250px;
   height:580px;
   overflow-x: hidden;
   overflow-y:scroll;
    -ms-overflow-style: none;
}

.firstComponent
{
    margin-top:1rem;
    display:flex;
    height:210px;
    width:950px;
    border: 1px solid;
    border-color: grey;
    padding :8px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: normal;
    color:rgb(70, 63, 63);
    margin-left:13rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
   
}
.companyLogos
{
    margin-top:3rem;
    width:270px;
    margin-left:1rem;
   
    box-shadow: 0px 0px 0.1px rgba(0, 0, 0, 0.5);
}

.companyNames
{
    
    width:300px;
    border-right: 1px solid rgb(181, 207, 230); 
}

.policy
{
/* {   background-color: rgb(242, 255, 255); */
    /* background: conic-gradient(from 0deg #e5eff8,aliceblue); */
    font-size: 18px;
    font-weight: bold;
    width:375px;
    color: rgb(97, 96, 96);
    border-right: 1px solid rgb(181, 207, 230); 
    margin-left:1rem;
}

.policyNamees
{
    margin-left:1rem;
    margin-right: 0.5rem;
    color:rgb(97, 96, 96);
}
.minCover
{
    margin-left:1rem;
    margin-top:0.5rem;
    font-size: 17px;
    font-weight: normal;
    width:240px;
    color: rgb(97, 96, 96);
}

.moreDetail
{
    
    width:180px;
}
.detailButton {
    margin-top: 5rem;
    margin-left: 1.5rem;
    width: 120px;
    height: 45px;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    background-color: #008a8a;
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}
.detailButtons {
    margin-top: 5rem;
    margin-left: 1.5rem;
    width: 120px;
    height: 45px;
    font-size: 17px;
    font-weight: bold;
    font-style: normal;
    background-color: rgb(185,28,28);
    color: white;
    transition: background-color 0.3s ease;
    border-radius: 7px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.detailButton:hover{
    background-color: var(--secondary-color2);
    border-color: unset;
}

.arrow
{
    width:15px;
    margin-top:-1.2rem;
    margin-left:6rem;
}